<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
</head>

<body>
    <!-- header -->
    {% extends "layout.html" %}
    {% block content %}
    <div class="w3l-error-grid py-5 text-center">
        <div class="container py-lg-5 py-md-4">
            <div class="center-align">
                <h1>404</h1>
                <h2>Page not found</h2>
                <p>We are very sorry for the inconvinience. Its look like you're trying to access a page that has been
                    deleted or never even existed.</p>
                <div class="mt-5">
                    <a href="{{url_for('core.index')}}" class="btn-small"> Back to home</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>