<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>News 19 | Read the best today</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename = 'assets/images/website_logo.png')}}" />
</head>

<body>
    <!-- header -->
    {% extends "layout.html" %}
    {% block content %}
    <!-- //header -->
    <!-- /homeblock1-->
    <section class="w3l-homeblock1 py-sm-5 py-4">
        <div class="container py-md-4">
            <div class="grids-area-hny main-cont-wthree-fea row">
                <div class="col-lg-3 col-6 grids-feature">
                    <a href = "{{url_for('general.general_news',news_category= 'latest')}}" target = "_blank">
                        <div class="area-box">
                            <span class="fa">
                                <span class="material-icons">
                                    article
                                    </span>
                            </span>
                            <h4 class="title-head">Latest</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature">
                    <a href = "{{url_for('general.general_news',news_category= 'india')}}" target = "_blank">
                        <div class="area-box">
                            <span class = "fa">IN</span>
                            <h4 class = "title-head">India</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
                    <a href = "{{url_for('general.general_news',news_category= 'world')}}" target = "_blank">
                        <div class="area-box">
                            <span class="fa">
                                <span class="material-icons">
                                    public
                                    </span>
                            </span>
                            <h4 class="title-head">World</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
                    <a href = "{{url_for('general.general_news',news_category= 'entertainment')}}" target = "_blank">
                        <div class="area-box">
                            <span class="fa">
                            <span class="material-icons">
                                movie
                                </span></span>
                            <h4 class="title-head">Entertainment</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container py-md-4">
            <div class="grids-area-hny main-cont-wthree-fea row">
                <div class="col-lg-3 col-6 grids-feature">
                    <a href="{{url_for('general.general_news',news_category= 'science')}}" target = "_blank">
                        <div class="area-box">
                            <span class="fa">
                                <span class="material-icons">
                                    science
                                    </span>
                            </span>
                            <h4 class="title-head">Science</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature">
                    <a href="{{url_for('general.general_news',news_category= 'business')}}" target = "_blank">
                        <div class="area-box">
                            <span class="fa">
                                <span class="material-icons">
                                    business_center
                                    </span>
                            </span>
                            <h4 class="title-head">Business</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
                    <a href="{{url_for('general.select_sports')}}" target = "_blank">
                        <div class="area-box">
                            <!-- <span class="fa fa-trophy"></span> -->
                            <span class="fa">
                                <span class="material-icons">
                                    sports_cricket
                                    </span></span>
                            <h4 class="title-head">Sports</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
                    <a href="{{url_for('general.general_news',news_category= 'offbeat')}}" target = "_blank">
                        <div class="area-box">
                            <span class="fa fa-bicycle"></span>
                            <h4 class="title-head">Offbeats</h4>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </section>
    <!-- //homeblock1-->

    <section class="w3l-testimonials" id="testimonials">
    <!-- main-slider -->
        <div class="testimonials pt-2 pb-5">
            <div class="container pb-lg-5">
                <div class="owl-testimonial owl-carousel owl-theme mb-md-0 mb-sm-5 mb-4">
                    <div class="item">
                        <div class="row slider-info">
                            <div class="col-lg-8 message-info align-self">
                                <span class="label-blue mb-sm-4 mb-3">India</span>
                                <h3 class="title-big mb-4">
                                    {{home_india_news[0]['headline']}}
                                </h3>
                                <p class="message">
                                    {{home_india_news[0]['description']}}
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-8 img-circle mt-lg-0 mt-4">
                                <img src="{{home_india_news[0]['image_url']}}" 
                                class="img-fluid radius-image-full" alt="client image" 
                                height = "200" 
                                style="
                                    padding-top: 1px;
                                    border-radius: 25px;
                                    padding-bottom: 1px;
                                    height: 282px;
                                    margin-top: 70px;
                                    width: 500px;
                                ">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row slider-info">
                            <div class="col-lg-8 message-info align-self">
                                <span class="label-blue mb-sm-4 mb-3">World</span>
                                <h3 class="title-big mb-4">
                                    {{home_world_news[0]['headline']}}
                                </h3>
                                <p class="message">
                                    {{home_world_news[0]['description']}}
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-8 img-circle mt-lg-0 mt-4">
                                <img src="{{home_world_news[0]['image_url']}}" 
                                class="img-fluid radius-image-full" alt="client image" 
                                height = "200" 
                                style="
                                    padding-top: 1px;
                                    border-radius: 25px;
                                    padding-bottom: 1px;
                                    height: 282px;
                                    margin-top: 70px;
                                    width: 500px;
                                ">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row slider-info">
                            <div class="col-lg-8 message-info align-self">
                                <span class="label-blue mb-sm-4 mb-3">Business</span>
                                <h3 class="title-big mb-4">
                                    {{home_business_news[0]['headline']}}
                                </h3>
                                <p class="message">
                                    {{home_business_news[0]['description']}}
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-8 img-circle mt-lg-0 mt-4">
                                <img src="{{home_business_news[0]['image_url']}}" 
                                class="img-fluid radius-image-full" alt="client image" 
                                height = "200" 
                                style="
                                    padding-top: 1px;
                                    border-radius: 25px;
                                    padding-bottom: 1px;
                                    height: 282px;
                                    margin-top: 70px;
                                    width: 500px;
                                ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /main-slider -->
    </section>
    <!-- Just in News Short Intro -->
    <div class="w3l-homeblock2 py-2">
        <div class="container py-lg-5 py-md-4">
            <!-- block -->
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="section-title-left mb-4"> Just In </h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="{{home_latest_news[0]['url']}}" target = "_blank">
                                        <img class="card-img-bottom d-block radius-image-full"
                                            src="{{home_latest_news[0]['image_url']}}" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">
                                    <span class="label-blue">Latest</span>
                                    <a href="{{home_latest_news[0]['url']}}" target = "_blank" class="blog-desc">
                                        {{home_latest_news[0]["headline"]}}
                                    </a>
                                    <div class="align-items-center mt-3 mb-3">
                                        <ul>
                                            <li style="color:#5a67d8">
                                                <span class="meta-value"> 
                                                    {% if home_latest_news[0]["posted_date"]%}
                                                        {{home_latest_news[0]["posted_date"].strftime('%B %d, %Y')}} 
                                                    {% endif %}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p>
                                        {{home_latest_news[0]["description"]}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-md-0 mt-sm-5 mt-4">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="{{home_latest_news[1]['url']}}" target = "_blank">
                                        <img class="card-img-bottom d-block radius-image-full"
                                            src="{{home_latest_news[1]['image_url']}}" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">
                                    <span class="label-blue">Latest</span>
                                    <a href="{{home_latest_news[1]['url']}}" target = "_blank" class="blog-desc">
                                        {{home_latest_news[1]["headline"]}}
                                    </a>
                                    <div class="align-items-center mt-3 mb-3">
                                        <ul>
                                            <li style="color:#5a67d8">
                                                <span class="meta-value"> 
                                                    {% if home_latest_news[1]["posted_date"]%}
                                                        {{home_latest_news[1]["posted_date"].strftime('%B %d, %Y')}} 
                                                    {% endif %}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p>
                                        {{home_latest_news[1]["description"]}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Topics Section -->
                <div class="col-lg-4 trending mt-lg-0 mt-5">
                    <div class="topics">
                        <h3 class="section-title-left mb-4"> Topics</h3>
                        
                        <a href="{{url_for('general.general_news',news_category= 'latest')}}" target = "_blank" class="topics-list mt-3">
                            <div class="list1">
                                <span class="fa">
                                    <span class="material-icons">
                                        article
                                        </span>
                                </span>
                                <h4>Latest</h4>
                            </div>
                        </a>
                        <a href="{{url_for('general.general_news',news_category= 'india')}}" target = "_blank" class="topics-list mt-3">
                            <div class="list1">
                                <span class = "fa">IN</span>
                                <h4>India</h4>
                            </div>
                        </a>
                        <a href="{{url_for('general.general_news',news_category= 'world')}}" target = "_blank" class="topics-list mt-3">
                            <div class="list1">
                                <span class="fa">
                                    <span class="material-icons">
                                        public
                                        </span>
                                </span>
                                <h4>World</h4>
                            </div>
                        </a>
                        <a href="{{url_for('general.general_news',news_category= 'science')}}"  target = "_blank" class="topics-list mt-3">
                            <div class="list1">
                                <span class="fa">
                                    <span class="material-icons">
                                        science
                                        </span>
                                </span>
                                <h4>Science</h4>
                            </div>
                        </a>
                        <a href="{{url_for('general.general_news',news_category= 'business')}}" target = "_blank" class="topics-list mt-3">
                            <div class="list1">
                                <span class="fa">
                                    <span class="material-icons">
                                        business_center
                                        </span>
                                </span>
                                <h4>Business</h4>
                            </div>
                        </a>
                        <a href="{{url_for('general.general_news',news_category= 'entertainment')}}" target = "_blank" class="topics-list mt-3">
                            <div class="list1">
                                <span class="fa">
                                    <span class="fa">
                                        <span class="material-icons">
                                            movie
                                            </span></span>
                                </span>
                                <h4>Entertainment</h4>
                            </div>
                        </a>
                        
                        <a href="{{url_for('general.select_sports')}}" target = "_blank" class="topics-list mt-3">
                            <div class="list1">
                                <span class="fa">
                                    <span class="material-icons">
                                        sports_cricket
                                        </span></span>
                                <h4>Sports</h4>
                            </div>
                        </a>
                        <a href="{{url_for('general.general_news',news_category= 'offbeat')}}" target = "_blank" class="topics-list mt-3">
                            <div class="list1">
                                <span class="fa fa-bicycle"></span>
                                <h4>Offbeats</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- India News Short Intro -->
    <div class="w3l-homeblock2 py-2">
        <div class="container py-lg-5 py-md-4">
            <!-- block -->
            <div class="left-right">
                <h3 class="section-title-left mb-sm-4 mb-2">India News</h3>
                <a href="{{url_for('general.general_news',news_category= 'india')}}" class="more btn btn-small mb-sm-0 mb-4" target = "_blank">View more</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_india_news[1]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_india_news[1]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_india_news[1]['url']}}" class="blog-desc" target = "_blank">
                                {{home_india_news[1]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_india_news[1]["posted_date"]%}
                                                {{home_india_news[1]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_india_news[2]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_india_news[2]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_india_news[2]['url']}}" target = "_blank" class="blog-desc">
                                {{home_india_news[2]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3" >
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_india_news[2]["posted_date"]%}
                                                {{home_india_news[2]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_india_news[3]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_india_news[3]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_india_news[3]['url']}}" target = "_blank" class="blog-desc">
                                {{home_india_news[3]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_india_news[3]["posted_date"]%}
                                                {{home_india_news[3]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- World News Short Intro -->
    <div class="w3l-homeblock2 py-2">
        <div class="container py-lg-5 py-md-4">
            <!-- block -->
            <div class="left-right">
                <h3 class="section-title-left mb-sm-4 mb-2">World News</h3>
                <a href="{{url_for('general.general_news',news_category= 'world')}}" class="more btn btn-small mb-sm-0 mb-4" target = "_blank">View more</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_world_news[1]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_world_news[1]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_world_news[1]['url']}}" class="blog-desc" target = "_blank">
                                {{home_world_news[1]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_world_news[1]["posted_date"]%}
                                                {{home_world_news[1]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_world_news[2]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_world_news[2]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_world_news[2]['url']}}" class="blog-desc" target = "_blank">
                                {{home_world_news[2]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_world_news[2]["posted_date"]%}
                                                {{home_world_news[2]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_world_news[3]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_world_news[3]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_world_news[3]['url']}}" class="blog-desc" target = "_blank">
                                {{home_world_news[3]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_world_news[3]["posted_date"]%}
                                                {{home_world_news[3]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Business News Short Intro -->
    <div class="w3l-homeblock2 py-2">
        <div class="container py-lg-5 py-md-4">
            <!-- block -->
            <div class="left-right">
                <h3 class="section-title-left mb-sm-4 mb-2">Business News</h3>
                <a href="{{url_for('general.general_news',news_category= 'business')}}" class="more btn btn-small mb-sm-0 mb-4" target = "_blank">View more</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_business_news[1]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_business_news[1]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_business_news[1]['url']}}" class="blog-desc" target = "_blank">
                                {{home_business_news[1]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_business_news[1]["posted_date"]%}
                                                {{home_business_news[1]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_business_news[2]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_business_news[2]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_business_news[2]['url']}}" target = "_blank" class="blog-desc">
                                {{home_business_news[2]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_business_news[2]["posted_date"]%}
                                                {{home_business_news[2]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_business_news[3]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_business_news[3]['image_url']}}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_business_news[3]['url']}}" class="blog-desc" target = "_blank">
                                {{home_business_news[3]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_business_news[3]["posted_date"]%}
                                                {{home_business_news[3]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sports News Short Intro -->
    <div class="w3l-homeblock2 py-2">
        <div class="container py-lg-5 py-md-4">
            <!-- block -->
            <div class="left-right">
                <h3 class="section-title-left mb-sm-4 mb-2">Sports News</h3>
                <a href="{{url_for('general.select_sports')}}" target = "_blank" class="more btn btn-small mb-sm-0 mb-4">View more</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative" target = "_blank">
                            <a href="{{home_football_news[0]['url']}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_football_news[0]['image_url']}}" target = "_blank"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_football_news[0]['url']}}" target = "_blank" class="blog-desc">
                                {{home_football_news[0]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_football_news[0]["posted_date"]%}
                                                {{home_football_news[0]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_cricket_news[0]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_cricket_news[0]['image_url']}}" target = "_blank"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_cricket_news[0]['url']}}" target = "_blank" class="blog-desc">
                                {{home_cricket_news[0]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_cricket_news[0]["posted_date"]%}
                                                {{home_cricket_news[0]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{home_tennis_news[0]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                src="{{home_tennis_news[0]['image_url']}}" target = "_blank"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{home_tennis_news[0]['url']}}" target = "_blank" class="blog-desc">
                                {{home_tennis_news[0]["headline"]}}
                            </a>
                            <div class="align-items-center mt-1 mb-3">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson" style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if home_tennis_news[0]["posted_date"]%}
                                                {{home_tennis_news[0]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
</body>

</html>