<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>News 19 | Sports Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename = 'assets/images/website_logo.png')}}" />
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="w3l-homeblock2 py-5">
        <div class="container pt-md-4 pb-md-5">
            <h3 class="category-title mb-3">Sports News</h3>
            <p class="mb-sm-5 mb-4 max-width">Select the sport you wish to get the news for</p>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card" 
                    style = "border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    "
                    >
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'football')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/football.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'football')}}" class="blog-desc">
                                Football
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'cricket')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/cricket.jpg')}}""
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'cricket')}}" class="blog-desc">
                                Cricket
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'tennis')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/tennis.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details" >
                            <a href="{{url_for('general.sports_news',sport_name= 'tennis')}}" class="blog-desc">
                                Tennis
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'formula-1')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/Formula1.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'formula-1')}}" class="blog-desc">
                                Formula 1
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'hockey')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/hockey.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'hockey')}}" class="blog-desc">
                                Hockey
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'golf')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/golf.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'golf')}}" class="blog-desc">
                                Golf
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                    border-bottom-left-radius: 10px 10px;
                    border-bottom-right-radius: 10px 10px;
                    text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'badminton')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/badminton.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'badminton')}}" class="blog-desc">
                                Badminton
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'chess')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/chess.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'chess')}}" class="blog-desc">
                                Chess
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'kabaddi')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/kabaddi.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'kabaddi')}}" class="blog-desc">
                                Kabaddi
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'wrestling')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/wrestling.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'wrestling')}}" class="blog-desc">
                                Wrestling
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'nba')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/nba.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'nba')}}" class="blog-desc">
                                NBA
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: 1px solid #5a67d8;
                        border-bottom-left-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                        text-align:center;
                    ">
                        <div class="card-header p-0 position-relative">
                            <a href="{{url_for('general.sports_news',sport_name= 'boxing')}}">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{url_for('static',filename = 'assets/images/sports_home/boxing.jpg')}}"
                                    alt = "Card image cap" height = "220">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{url_for('general.sports_news',sport_name= 'boxing')}}" class="blog-desc">
                                Boxing
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>