<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename = 'assets/images/website_logo.png')}}" />
    <title>News 19 | {{page_title.capitalize()}} News</title>
</head>

<body>
    <!-- header -->
    {% extends "layout.html" %}
    {% block content %}
    <div class="w3l-homeblock2 py-5">
        <div class="container pt-md-4 pb-md-5">
            <h3 class="category-title mb-3">{{page_title.capitalize()}} News</h3>
            <hr>
            <select class="custom-select" style="width:150px;" onchange="javascript:location.href = this.value;" >
                <option value>Select Sport</option>
                {% for option in options %}
                    <option value="{{url_for('general.sports_news',sport_name= option)}}">{{option.capitalize()}}</option>
                {% endfor %}
            </select>
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[0]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[0]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[0]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[0]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value">
                                            {% if news_list[0]["posted_date"]%}
                                                {{news_list[0]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                {{news_list[0]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[1]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[1]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[1]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[1]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if news_list[1]["posted_date"]%}
                                                {{news_list[1]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                {{news_list[1]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[2]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[2]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[2]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[2]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if news_list[2]["posted_date"]%}
                                                {{news_list[2]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                {{news_list[2]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[3]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[3]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[3]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[3]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if news_list[3]["posted_date"]%}
                                                {{news_list[3]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                {{news_list[3]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[4]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[4]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[4]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[4]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if news_list[4]["posted_date"]%}
                                                {{news_list[4]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                {{news_list[4]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[5]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[5]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[5]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[5]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if news_list[5]["posted_date"]%}
                                                {{news_list[5]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                {{news_list[5]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[6]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[6]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[6]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[6]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if news_list[6]["posted_date"]%}
                                                {{news_list[6]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p width="100">
                                {{news_list[6]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[7]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[7]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[7]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[7]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if news_list[7]["posted_date"]%}
                                                {{news_list[7]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p width="100">
                                {{news_list[7]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="{{news_list[8]['url']}}" target = "_blank">
                                <img class="card-img-bottom d-block radius-image-full" 
                                    src = "{{news_list[8]['image_url']}}"
                                    alt = "Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{news_list[8]['url']}}" class="blog-desc" target = "_blank">
                                {{news_list[8]["headline"]}}
                            </a>
                            <div class="align-items-center mt-3 mb-3">
                                <ul>
                                    <li style="color:#5a67d8">
                                        <span class="meta-value"> 
                                            {% if news_list[8]["posted_date"]%}
                                                {{news_list[8]["posted_date"].strftime('%B %d, %Y')}} 
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p width="100">
                                {{news_list[8]["description"]}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="site-pagination text-center mt-md-5 mt-4">
                <li>{{ pagination.links }}</li>
            </ul>
        </div>
    </div>
    {% endblock %}
</body>
</html>